<!DOCTYPE html>
<html>
<head>
  <title>SelectInterfaceRails</title>
  <%= stylesheet_link_tag    "select-interface-rails/application", :media => "all" %>
  <%= javascript_include_tag "select-interface-rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
